.option {
  border-bottom: 1px solid lighten($off-white, 10%);
  display: flex;
  justify-content: space-between;
  padding: $m-size $m-size;
  font-size: large;
}
.option__text {
  color: white;
  font-weight: 500;
  font-size: 2rem;
  margin: auto 0;
  word-break: break-all;
}

.option__action {
  display: flex;
}
.option__action input {
  line-height: 0;
  font-family: 'Zen Dots', cursive;
  text-align: center;
  display: flex;
  color: white;
  background: $dark-blue;
  width: $l-size;
  height: $l-size;
  justify-content: center;
  align-items: center;
  border-bottom: 0.3rem solid lighten($light-blue, 10%);
}
.option__action button {
  margin-left: $s-size;
  border-radius: 6%;
  line-height: 0;
  height: $xl-size;
  padding-bottom: calc(#{$xs-size} + #{$s-size});
  font-size: xx-large;
}
.minus {
  background: $red;
  border-bottom: 0.3rem solid darken($red, 10%);
}
@media (min-width: $desktop-breakpoint) {
  .option__action input {
    width: calc(#{$xl-size} - 5px);
    height: calc(#{$xl-size} - 5px);
  }
}
