@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito&family=Roboto:wght@500&display=swap');

html {
  font-size: 62.5%;
}
body {
  background: $dark-blue;
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;
}
button:disabled {
  cursor: default;
}
