// Colors

$off-black: #111111;
$dark-blue: #272727;
$off-white: #cad4cc;
$blue: #333333;
$light-blue: #3f3f3f;
$purple: #8357c5;
$green: #86c232;
$red: #c70000;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
