// Colors

$off-black: #111111;
$dark-blue: #222222;
$off-white: #cad4cc;
$blue: #272727;
$light-blue: #333333;
$purple: #8357c5;
$green: #238636;
$red: #e60023;
// Spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
